@model List<ArticleDTO>
@{
    ViewData["Title"] = "DeletedArticles";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card m-3">

    
   <div class="m-3"></div>
    <div class="table-responsive text-nowrap">
        <table class="table table-bordered" id="articlesTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>Kategori</th>
                    <th>Tarih</th>
                    <th>Yazar</th>
                    <th>Durum</th>
                    <th>İşlemler</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Başlık</th>
                    <th>Kategori</th>
                    <th>Tarih</th>
                    <th>Yazar</th>
                    <th>Durum</th>
                    <th>İşlemler</th>
                </tr>
            </tfoot>
            <tbody class="table-border-bottom-0">
               
                @foreach (var article in Model)
                {
                    <tr>
                        
                        <td>@article.Title</td>
                        <td>@article.Category.Name</td>
                        <td>@article.CreatedDate.ToShortDateString()</td>
                        <td>@article.CreatedBy</td>
                        <td>@(article.IsDeleted ? "Aktif Degil" : "Aktif")</td>
                        <td>
                            <a class="btn btn-warning btn-sm" data-id="@article.Id" asp-area="Admin" asp-controller="Article" asp-action="UndoDelete" asp-route-articleId="@article.Id">
                                <i class="bx bx-undo"></i>
                            </a>
                           @* <a class="btn btn-outline-danger btn-sm" data-id="@article.Id" asp-area="Admin" asp-controller="Article" asp-action="Delete" asp-route-articleId="@article.Id">
                                <i class="bx bx-minus-circle"></i>
                            </a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/articleIndex.js" type="application/ecmascript"></script>
}


