@model List<UserDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card m-3">

    <a href="/admin/user/add" class="btn btn-primary m-3">Yeni Kullanıcı Ekle</a>
    <hr />
    <div class="table-responsive text-nowrap">
        <table class="table" id="usersTable" cellspacing="0">

            <thead>

                <tr>

                    <th>İsim</th>
                    <th>Soyisim</th>
                    <th>Email</th>
                    <th>Email Doğrulama</th>
                    <th>Telefon Numarası</th>
                    <th>Hatalı Giriş</th>
                    <th>Hatalı Giriş</th>
                    <th>İşlemler</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>İsim</th>
                    <th>Soyisim</th>
                    <th>Email</th>
                    <th>Email Doğrulama</th>
                    <th>Telefon Numarası</th>
                    <th>Hatalı Giriş</th>
                    <th>Hatalı Giriş</th>
                    <th>İşlemler</th>
                </tr>
            </tfoot>
            <tbody class="table-border-bottom-0">
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.Role</td>>
                        <td>@(user.EmailConfirmed ? "Doğrulanmış" : "Doğrulanmamış")</td>>
                        <td>@user.AccessFailedCount</td>>
                        <td>
                            <a class="btn btn-outline-info btn-sm" data-id="@user.Id" asp-area="Admin" asp-controller="User" asp-action="Update" asp-route-userId="@user.Id">
                                <i class="bx bx-edit"></i>
                            </a>
                            <a class="btn btn-outline-danger btn-sm" data-id="@user.Id" asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-userId="@user.Id">
                                <i class="bx bx-minus-circle"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/userIndex.js" type="application/ecmascript"></script>
}



